In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

# Import our input dataset
attrition_df = pd.read_csv('HR-Employee-Attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [2]:
# Generate our categorical variable list
attrition_cat = attrition_df.dtypes[attrition_df.dtypes == "object"].index.tolist()

In [3]:
# Check the number of unique values in each column
attrition_df[attrition_cat].nunique()

Attrition         2
BusinessTravel    3
Department        3
EducationField    6
Gender            2
JobRole           9
MaritalStatus     3
Over18            1
OverTime          2
dtype: int64

In [4]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(attrition_df[attrition_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(attrition_cat)
encode_df.head()

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [5]:
# Merge one-hot encoded features and drop the originals
attrition_df = attrition_df.merge(encode_df,left_index=True, right_index=True)
attrition_df = attrition_df.drop(attrition_cat,1)
attrition_df.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [6]:
# Split our preprocessed data into our features and target arrays
y = attrition_df["Attrition_Yes"].values
X = attrition_df.drop(["Attrition_Yes","Attrition_No"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [7]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [8]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 8)                 448
_________________________________________________________________
dense_1 (Dense)              (None, 5)                 45
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 6
=================================================================
Total params: 499
Trainable params: 499
Non-trainable params: 0
_________________________________________________________________

In [9]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [10]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=100)

Epoch 1/100
35/35 [==============================] - 0s 440us/step - loss: 239.2961 - accuracy: 0.3575
Epoch 2/100
35/35 [==============================] - 0s 440us/step - loss: 16.0099 - accuracy: 0.7886
Epoch 3/100
35/35 [==============================] - 0s 411us/step - loss: 3.6643 - accuracy: 0.8076
Epoch 4/100
35/35 [==============================] - 0s 411us/step - loss: 1.1479 - accuracy: 0.8158
Epoch 5/100
35/35 [==============================] - 0s 440us/step - loss: 0.9474 - accuracy: 0.8203
Epoch 6/100
35/35 [==============================] - 0s 440us/step - loss: 0.7967 - accuracy: 0.8221
Epoch 7/100
35/35 [==============================] - 0s 411us/step - loss: 0.6663 - accuracy: 0.8240
Epoch 8/100
35/35 [==============================] - 0s 411us/step - loss: 0.6380 - accuracy: 0.8249
Epoch 9/100
35/35 [==============================] - 0s 440us/step - loss: 0.6289 - accuracy: 0.8258
Epoch 10/100
35/35 [==============================] - 0s 436us/step - loss: 0.6208 - accuracy: 0.8267
Epoch 11/100
35/35 [==============================] - 0s 411us/step - loss: 0.6136 - accuracy: 0.8267
Epoch 12/100
35/35 [==============================] - 0s 440us/step - loss: 0.6065 - accuracy: 0.8267
Epoch 13/100
35/35 [==============================] - 0s 411us/step - loss: 0.5996 - accuracy: 0.8276
Epoch 14/100
35/35 [==============================] - 0s 440us/step - loss: 0.5930 - accuracy: 0.8276
Epoch 15/100
35/35 [==============================] - 0s 440us/step - loss: 0.5867 - accuracy: 0.8276
Epoch 16/100
35/35 [==============================] - 0s 432us/step - loss: 0.5806 - accuracy: 0.8276
Epoch 17/100
35/35 [==============================] - 0s 431us/step - loss: 0.5747 - accuracy: 0.8276
Epoch 18/100
35/35 [==============================] - 0s 440us/step - loss: 0.5692 - accuracy: 0.8276
Epoch 19/100
35/35 [==============================] - 0s 440us/step - loss: 0.5637 - accuracy: 0.8276
Epoch 20/100
35/35 [==============================] - 0s 440us/step - loss: 0.5586 - accuracy: 0.8276
Epoch 21/100
35/35 [==============================] - 0s 440us/step - loss: 0.5536 - accuracy: 0.8276
Epoch 22/100
35/35 [==============================] - 0s 461us/step - loss: 0.5490 - accuracy: 0.8276
Epoch 23/100
35/35 [==============================] - 0s 440us/step - loss: 0.5443 - accuracy: 0.8276
Epoch 24/100
35/35 [==============================] - 0s 440us/step - loss: 0.5400 - accuracy: 0.8276
Epoch 25/100
35/35 [==============================] - 0s 440us/step - loss: 0.5358 - accuracy: 0.8276
Epoch 26/100
35/35 [==============================] - 0s 440us/step - loss: 0.5318 - accuracy: 0.8276
Epoch 27/100
35/35 [==============================] - 0s 440us/step - loss: 0.5281 - accuracy: 0.8276
Epoch 28/100
35/35 [==============================] - 0s 438us/step - loss: 0.5244 - accuracy: 0.8276
Epoch 29/100
35/35 [==============================] - 0s 411us/step - loss: 0.5209 - accuracy: 0.8276
Epoch 30/100
35/35 [==============================] - 0s 469us/step - loss: 0.5176 - accuracy: 0.8276
Epoch 31/100
35/35 [==============================] - 0s 440us/step - loss: 0.5144 - accuracy: 0.8276
Epoch 32/100
35/35 [==============================] - 0s 440us/step - loss: 0.5114 - accuracy: 0.8276
Epoch 33/100
35/35 [==============================] - 0s 440us/step - loss: 0.5085 - accuracy: 0.8276
Epoch 34/100
35/35 [==============================] - 0s 440us/step - loss: 0.5058 - accuracy: 0.8276
Epoch 35/100
35/35 [==============================] - 0s 440us/step - loss: 0.5033 - accuracy: 0.8276
Epoch 36/100
35/35 [==============================] - 0s 440us/step - loss: 0.5008 - accuracy: 0.8276
Epoch 37/100
35/35 [==============================] - 0s 411us/step - loss: 0.4985 - accuracy: 0.8276
Epoch 38/100
35/35 [==============================] - 0s 435us/step - loss: 0.4962 - accuracy: 0.8276
Epoch 39/100
35/35 [==============================] - 0s 440us/step - loss: 0.4940 - accuracy: 0.8276
Epoch 40/100
35/35 [==============================] - 0s 440us/step - loss: 0.4920 - accuracy: 0.8276
Epoch 41/100
35/35 [==============================] - 0s 440us/step - loss: 0.4901 - accuracy: 0.8276
Epoch 42/100
35/35 [==============================] - 0s 440us/step - loss: 0.4883 - accuracy: 0.8276
Epoch 43/100
35/35 [==============================] - 0s 440us/step - loss: 0.4866 - accuracy: 0.8276
Epoch 44/100
35/35 [==============================] - 0s 411us/step - loss: 0.4849 - accuracy: 0.8276
Epoch 45/100
35/35 [==============================] - 0s 440us/step - loss: 0.4833 - accuracy: 0.8276
Epoch 46/100
35/35 [==============================] - 0s 440us/step - loss: 0.4818 - accuracy: 0.8276
Epoch 47/100
35/35 [==============================] - 0s 440us/step - loss: 0.4804 - accuracy: 0.8276
Epoch 48/100
35/35 [==============================] - 0s 440us/step - loss: 0.4791 - accuracy: 0.8276
Epoch 49/100
35/35 [==============================] - 0s 440us/step - loss: 0.4778 - accuracy: 0.8276
Epoch 50/100
35/35 [==============================] - 0s 440us/step - loss: 0.4767 - accuracy: 0.8276
Epoch 51/100
35/35 [==============================] - 0s 440us/step - loss: 0.4756 - accuracy: 0.8276
Epoch 52/100
35/35 [==============================] - 0s 440us/step - loss: 0.4745 - accuracy: 0.8276
Epoch 53/100
35/35 [==============================] - 0s 438us/step - loss: 0.4736 - accuracy: 0.8276
Epoch 54/100
35/35 [==============================] - 0s 411us/step - loss: 0.4727 - accuracy: 0.8276
Epoch 55/100
35/35 [==============================] - 0s 440us/step - loss: 0.4718 - accuracy: 0.8276
Epoch 56/100
35/35 [==============================] - 0s 440us/step - loss: 0.4710 - accuracy: 0.8276
Epoch 57/100
35/35 [==============================] - 0s 440us/step - loss: 0.4702 - accuracy: 0.8276
Epoch 58/100
35/35 [==============================] - 0s 440us/step - loss: 0.4695 - accuracy: 0.8276
Epoch 59/100
35/35 [==============================] - 0s 440us/step - loss: 0.4688 - accuracy: 0.8276
Epoch 60/100
35/35 [==============================] - 0s 446us/step - loss: 0.4682 - accuracy: 0.8276
Epoch 61/100
35/35 [==============================] - 0s 440us/step - loss: 0.4675 - accuracy: 0.8276
Epoch 62/100
35/35 [==============================] - 0s 411us/step - loss: 0.4670 - accuracy: 0.8276
Epoch 63/100
35/35 [==============================] - 0s 440us/step - loss: 0.4664 - accuracy: 0.8276
Epoch 64/100
35/35 [==============================] - 0s 411us/step - loss: 0.4659 - accuracy: 0.8276
Epoch 65/100
35/35 [==============================] - 0s 440us/step - loss: 0.4654 - accuracy: 0.8276
Epoch 66/100
35/35 [==============================] - 0s 440us/step - loss: 0.4650 - accuracy: 0.8276
Epoch 67/100
35/35 [==============================] - 0s 440us/step - loss: 0.4646 - accuracy: 0.8276
Epoch 68/100
35/35 [==============================] - 0s 440us/step - loss: 0.4642 - accuracy: 0.8276
Epoch 69/100
35/35 [==============================] - 0s 411us/step - loss: 0.4638 - accuracy: 0.8276
Epoch 70/100
35/35 [==============================] - 0s 411us/step - loss: 0.4635 - accuracy: 0.8276
Epoch 71/100
35/35 [==============================] - 0s 411us/step - loss: 0.4632 - accuracy: 0.8276
Epoch 72/100
35/35 [==============================] - 0s 440us/step - loss: 0.4629 - accuracy: 0.8276
Epoch 73/100
35/35 [==============================] - 0s 440us/step - loss: 0.4626 - accuracy: 0.8276
Epoch 74/100
35/35 [==============================] - 0s 429us/step - loss: 0.4624 - accuracy: 0.8276
Epoch 75/100
35/35 [==============================] - 0s 440us/step - loss: 0.4622 - accuracy: 0.8276
Epoch 76/100
35/35 [==============================] - 0s 411us/step - loss: 0.4619 - accuracy: 0.8276
Epoch 77/100
35/35 [==============================] - 0s 411us/step - loss: 0.4618 - accuracy: 0.8276
Epoch 78/100
35/35 [==============================] - 0s 455us/step - loss: 0.4616 - accuracy: 0.8276
Epoch 79/100
35/35 [==============================] - 0s 411us/step - loss: 0.4614 - accuracy: 0.8276
Epoch 80/100
35/35 [==============================] - 0s 440us/step - loss: 0.4613 - accuracy: 0.8276
Epoch 81/100

35/35 [==============================] - 0s 411us/step - loss: 0.4611 - accuracy: 0.8276
Epoch 82/100
35/35 [==============================] - 0s 411us/step - loss: 0.4610 - accuracy: 0.8276
Epoch 83/100
35/35 [==============================] - 0s 435us/step - loss: 0.4608 - accuracy: 0.8276
Epoch 84/100
35/35 [==============================] - 0s 440us/step - loss: 0.4607 - accuracy: 0.8276
Epoch 85/100
35/35 [==============================] - 0s 440us/step - loss: 0.4606 - accuracy: 0.8276
Epoch 86/100
35/35 [==============================] - 0s 411us/step - loss: 0.4605 - accuracy: 0.8276
Epoch 87/100
35/35 [==============================] - 0s 440us/step - loss: 0.4605 - accuracy: 0.8276
Epoch 88/100
35/35 [==============================] - 0s 411us/step - loss: 0.4604 - accuracy: 0.8276
Epoch 89/100
35/35 [==============================] - 0s 422us/step - loss: 0.4603 - accuracy: 0.8276
Epoch 90/100
35/35 [==============================] - 0s 440us/step - loss: 0.4602 - accuracy: 0.8276
Epoch 91/100
35/35 [==============================] - 0s 440us/step - loss: 0.4601 - accuracy: 0.8276
Epoch 92/100
35/35 [==============================] - 0s 429us/step - loss: 0.4601 - accuracy: 0.8276
Epoch 93/100
35/35 [==============================] - 0s 411us/step - loss: 0.4600 - accuracy: 0.8276
Epoch 94/100
35/35 [==============================] - 0s 411us/step - loss: 0.4600 - accuracy: 0.8276
Epoch 95/100
35/35 [==============================] - 0s 414us/step - loss: 0.4599 - accuracy: 0.8276
Epoch 96/100
35/35 [==============================] - 0s 426us/step - loss: 0.4599 - accuracy: 0.8276
Epoch 97/100
35/35 [==============================] - 0s 437us/step - loss: 0.4599 - accuracy: 0.8276
Epoch 98/100
35/35 [==============================] - 0s 411us/step - loss: 0.4598 - accuracy: 0.8276
Epoch 99/100
35/35 [==============================] - 0s 411us/step - loss: 0.4598 - accuracy: 0.8276
Epoch 100/100
35/35 [==============================] - 0s 404us/step - loss: 0.4598 - accuracy: 0.8276

In [11]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

12/12 - 0s - loss: 0.3941 - accuracy: 0.8696
Loss: 0.3940559923648834, Accuracy: 0.8695651888847351

In [12]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import pandas as pd
import tensorflow as tf

# Import our input dataset
diabetes_df = pd.read_csv('diabetes.csv')
diabetes_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [13]:
# Remove diabetes outcome target from features data
y = diabetes_df.Outcome
X = diabetes_df.drop(columns="Outcome")

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [14]:
# Preprocess numerical data for neural network

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [15]:
# Define the logistic regression model
log_classifier = LogisticRegression(solver="lbfgs",max_iter=200)

# Train the model
log_classifier.fit(X_train,y_train)

# Evaluate the model
y_pred = log_classifier.predict(X_test)
print(f" Logistic regression model accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Logistic regression model accuracy: 0.729

In [16]:
# Define the basic neural network model
nn_model = tf.keras.models.Sequential()
nn_model.add(tf.keras.layers.Dense(units=16, activation="relu", input_dim=8))
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/50
18/18 [==============================] - 0s 411us/step - loss: 0.6520 - accuracy: 0.6684
Epoch 2/50
18/18 [==============================] - 0s 411us/step - loss: 0.6229 - accuracy: 0.7066
Epoch 3/50
18/18 [==============================] - 0s 411us/step - loss: 0.6001 - accuracy: 0.7188
Epoch 4/50
18/18 [==============================] - 0s 355us/step - loss: 0.5810 - accuracy: 0.7378
Epoch 5/50
18/18 [==============================] - 0s 352us/step - loss: 0.5657 - accuracy: 0.7431
Epoch 6/50
18/18 [==============================] - 0s 389us/step - loss: 0.5520 - accuracy: 0.7483
Epoch 7/50
18/18 [==============================] - 0s 411us/step - loss: 0.5410 - accuracy: 0.7483
Epoch 8/50
18/18 [==============================] - 0s 391us/step - loss: 0.5304 - accuracy: 0.7500
Epoch 9/50
18/18 [==============================] - 0s 411us/step - loss: 0.5214 - accuracy: 0.7587
Epoch 10/50
18/18 [==============================] - 0s 419us/step - loss: 0.5133 - accuracy: 0.7622
Epoch 11/50
18/18 [==============================] - 0s 352us/step - loss: 0.5066 - accuracy: 0.7639
Epoch 12/50
18/18 [==============================] - 0s 352us/step - loss: 0.5005 - accuracy: 0.7674
Epoch 13/50
18/18 [==============================] - 0s 352us/step - loss: 0.4947 - accuracy: 0.7708
Epoch 14/50
18/18 [==============================] - 0s 388us/step - loss: 0.4898 - accuracy: 0.7726
Epoch 15/50
18/18 [==============================] - 0s 382us/step - loss: 0.4854 - accuracy: 0.7778
Epoch 16/50
18/18 [==============================] - 0s 411us/step - loss: 0.4811 - accuracy: 0.7830
Epoch 17/50
18/18 [==============================] - 0s 411us/step - loss: 0.4775 - accuracy: 0.7847
Epoch 18/50
18/18 [==============================] - 0s 411us/step - loss: 0.4738 - accuracy: 0.7865
Epoch 19/50
18/18 [==============================] - 0s 411us/step - loss: 0.4709 - accuracy: 0.7899
Epoch 20/50
18/18 [==============================] - 0s 411us/step - loss: 0.4683 - accuracy: 0.7865
Epoch 21/50
18/18 [==============================] - 0s 374us/step - loss: 0.4657 - accuracy: 0.7865
Epoch 22/50
18/18 [==============================] - 0s 411us/step - loss: 0.4636 - accuracy: 0.7934
Epoch 23/50
18/18 [==============================] - 0s 406us/step - loss: 0.4614 - accuracy: 0.7882
Epoch 24/50
18/18 [==============================] - 0s 414us/step - loss: 0.4590 - accuracy: 0.7882
Epoch 25/50
18/18 [==============================] - 0s 391us/step - loss: 0.4576 - accuracy: 0.7899
Epoch 26/50
18/18 [==============================] - 0s 411us/step - loss: 0.4557 - accuracy: 0.7934
Epoch 27/50
18/18 [==============================] - 0s 411us/step - loss: 0.4542 - accuracy: 0.7934
Epoch 28/50
18/18 [==============================] - 0s 411us/step - loss: 0.4528 - accuracy: 0.7934
Epoch 29/50
18/18 [==============================] - 0s 412us/step - loss: 0.4512 - accuracy: 0.7951
Epoch 30/50
18/18 [==============================] - 0s 352us/step - loss: 0.4497 - accuracy: 0.7899
Epoch 31/50
18/18 [==============================] - 0s 411us/step - loss: 0.4486 - accuracy: 0.7917
Epoch 32/50
18/18 [==============================] - 0s 411us/step - loss: 0.4473 - accuracy: 0.7934
Epoch 33/50
18/18 [==============================] - 0s 369us/step - loss: 0.4461 - accuracy: 0.7917
Epoch 34/50
18/18 [==============================] - 0s 352us/step - loss: 0.4450 - accuracy: 0.7917
Epoch 35/50
18/18 [==============================] - 0s 340us/step - loss: 0.4443 - accuracy: 0.7917
Epoch 36/50
18/18 [==============================] - 0s 352us/step - loss: 0.4430 - accuracy: 0.7899
Epoch 37/50
18/18 [==============================] - 0s 352us/step - loss: 0.4424 - accuracy: 0.7917
Epoch 38/50
18/18 [==============================] - 0s 352us/step - loss: 0.4412 - accuracy: 0.7934
Epoch 39/50
18/18 [==============================] - 0s 391us/step - loss: 0.4406 - accuracy: 0.7917
Epoch 40/50
18/18 [==============================] - 0s 358us/step - loss: 0.4401 - accuracy: 0.7917
Epoch 41/50
18/18 [==============================] - 0s 352us/step - loss: 0.4386 - accuracy: 0.7934
Epoch 42/50
18/18 [==============================] - 0s 352us/step - loss: 0.4384 - accuracy: 0.7969
Epoch 43/50
18/18 [==============================] - 0s 370us/step - loss: 0.4374 - accuracy: 0.7934
Epoch 44/50
18/18 [==============================] - 0s 352us/step - loss: 0.4368 - accuracy: 0.7951
Epoch 45/50
18/18 [==============================] - 0s 352us/step - loss: 0.4360 - accuracy: 0.7969
Epoch 46/50
18/18 [==============================] - 0s 376us/step - loss: 0.4354 - accuracy: 0.7969
Epoch 47/50
18/18 [==============================] - 0s 352us/step - loss: 0.4350 - accuracy: 0.7951
Epoch 48/50
18/18 [==============================] - 0s 352us/step - loss: 0.4342 - accuracy: 0.7969
Epoch 49/50
18/18 [==============================] - 0s 411us/step - loss: 0.4334 - accuracy: 0.7986
Epoch 50/50
18/18 [==============================] - 0s 354us/step - loss: 0.4329 - accuracy: 0.7986
6/6 - 0s - loss: 0.4736 - accuracy: 0.7240
Loss: 0.4735669791698456, Accuracy: 0.7239583134651184

In [17]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
import pandas as pd
import tensorflow as tf

# Import our input dataset
tele_df = pd.read_csv('bank_telemarketing.csv')
tele_df.head()

,Age,Job,Marital_Status,Education,Default_Credit,Housing_Loan,Personal_Loan,Subscribed
0,56,other,married,Primary_Education,no,no,no,no
1,37,services,married,Secondary_Education,no,yes,no,no
2,40,admin,married,Primary_Education,no,no,no,no
3,56,services,married,Secondary_Education,no,no,yes,no
4,59,admin,married,Professional_Education,no,no,no,no

In [18]:
# Generate our categorical variable list
tele_cat = tele_df.dtypes[tele_df.dtypes == "object"].index.tolist()


# Check the number of unique values in each column
tele_df[tele_cat].nunique()

Job               9
Marital_Status    3
Education         4
Default_Credit    2
Housing_Loan      2
Personal_Loan     2
Subscribed        2
dtype: int64

In [19]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(tele_df[tele_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(tele_cat)
encode_df.head()

,Job_admin,Job_blue-collar,Job_entrepreneur,Job_management,Job_other,Job_retired,Job_self-employed,Job_services,Job_technician,Marital_Status_divorced,...,Education_Secondary_Education,Education_Tertiary_Education,Default_Credit_no,Default_Credit_yes,Housing_Loan_no,Housing_Loan_yes,Personal_Loan_no,Personal_Loan_yes,Subscribed_no,Subscribed_yes
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

In [20]:
# Merge one-hot encoded features and drop the originals
tele_df = tele_df.merge(encode_df,left_index=True, right_index=True)
tele_df = tele_df.drop(tele_cat,1)
tele_df.head()

,Age,Job_admin,Job_blue-collar,Job_entrepreneur,Job_management,Job_other,Job_retired,Job_self-employed,Job_services,Job_technician,...,Education_Secondary_Education,Education_Tertiary_Education,Default_Credit_no,Default_Credit_yes,Housing_Loan_no,Housing_Loan_yes,Personal_Loan_no,Personal_Loan_yes,Subscribed_no,Subscribed_yes
0,56,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,37,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,40,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,56,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4,59,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

In [21]:
# Remove loan status target from features data
y = tele_df.Subscribed_yes.values
X = tele_df.drop(columns=["Subscribed_no","Subscribed_yes"]).values

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [22]:
# Create the SVM model
svm = SVC(kernel='linear')

In [23]:
# Train the model
svm.fit(X_train, y_train)

SVC(kernel='linear')

In [24]:
# Evaluate the model
y_pred = svm.predict(X_test_scaled)
print(f" SVM model accuracy: {accuracy_score(y_test,y_pred):.3f}")

 SVM model accuracy: 0.873

In [25]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  10
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [26]:
# Train the model 
fit_model = nn.fit(X_train_scaled, y_train, epochs=50) 
# Evaluate the model using the test data 
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/50
715/715 [==============================] - 1s 416us/step - loss: 0.4521 - accuracy: 0.8420
Epoch 2/50
715/715 [==============================] - 0s 409us/step - loss: 0.3725 - accuracy: 0.8735
Epoch 3/50
715/715 [==============================] - 0s 408us/step - loss: 0.3699 - accuracy: 0.8734
Epoch 4/50
715/715 [==============================] - 0s 419us/step - loss: 0.3687 - accuracy: 0.8735
Epoch 5/50
715/715 [==============================] - 0s 420us/step - loss: 0.3678 - accuracy: 0.8733
Epoch 6/50
715/715 [==============================] - 0s 411us/step - loss: 0.3672 - accuracy: 0.8735
Epoch 7/50
715/715 [==============================] - 0s 415us/step - loss: 0.3667 - accuracy: 0.8733
Epoch 8/50
715/715 [==============================] - 0s 413us/step - loss: 0.3663 - accuracy: 0.8735
Epoch 9/50
715/715 [==============================] - 0s 420us/step - loss: 0.3658 - accuracy: 0.8730
Epoch 10/50
715/715 [==============================] - 0s 416us/step - loss: 0.3655 - accuracy: 0.8731
Epoch 11/50
715/715 [==============================] - 0s 428us/step - loss: 0.3653 - accuracy: 0.8735
Epoch 12/50
715/715 [==============================] - 0s 418us/step - loss: 0.3649 - accuracy: 0.8738
Epoch 13/50
715/715 [==============================] - 0s 419us/step - loss: 0.3647 - accuracy: 0.8733
Epoch 14/50
715/715 [==============================] - 0s 425us/step - loss: 0.3645 - accuracy: 0.8735
Epoch 15/50
715/715 [==============================] - 0s 429us/step - loss: 0.3645 - accuracy: 0.8736
Epoch 16/50
715/715 [==============================] - 0s 430us/step - loss: 0.3641 - accuracy: 0.8734
Epoch 17/50
715/715 [==============================] - 0s 425us/step - loss: 0.3641 - accuracy: 0.8738
Epoch 18/50
715/715 [==============================] - 0s 441us/step - loss: 0.3638 - accuracy: 0.8736
Epoch 19/50
715/715 [==============================] - 0s 445us/step - loss: 0.3635 - accuracy: 0.8734
Epoch 20/50
715/715 [==============================] - 0s 425us/step - loss: 0.3636 - accuracy: 0.8736
Epoch 21/50
715/715 [==============================] - 0s 427us/step - loss: 0.3634 - accuracy: 0.8737
Epoch 22/50
715/715 [==============================] - 0s 416us/step - loss: 0.3633 - accuracy: 0.8737
Epoch 23/50
715/715 [==============================] - 0s 423us/step - loss: 0.3632 - accuracy: 0.8735
Epoch 24/50
715/715 [==============================] - 0s 413us/step - loss: 0.3631 - accuracy: 0.8735
Epoch 25/50
715/715 [==============================] - 0s 405us/step - loss: 0.3630 - accuracy: 0.8737
Epoch 26/50
715/715 [==============================] - 0s 408us/step - loss: 0.3629 - accuracy: 0.8737
Epoch 27/50
715/715 [==============================] - 0s 408us/step - loss: 0.3629 - accuracy: 0.8740
Epoch 28/50
715/715 [==============================] - 0s 408us/step - loss: 0.3627 - accuracy: 0.8735
Epoch 29/50
715/715 [==============================] - 0s 409us/step - loss: 0.3628 - accuracy: 0.8734
Epoch 30/50
715/715 [==============================] - 0s 408us/step - loss: 0.3628 - accuracy: 0.8735
Epoch 31/50
715/715 [==============================] - 0s 408us/step - loss: 0.3626 - accuracy: 0.8733
Epoch 32/50
715/715 [==============================] - 0s 419us/step - loss: 0.3626 - accuracy: 0.8736
Epoch 33/50
715/715 [==============================] - 0s 425us/step - loss: 0.3625 - accuracy: 0.8733
Epoch 34/50
715/715 [==============================] - 0s 408us/step - loss: 0.3626 - accuracy: 0.8737
Epoch 35/50
715/715 [==============================] - 0s 408us/step - loss: 0.3624 - accuracy: 0.8736
Epoch 36/50
715/715 [==============================] - 0s 408us/step - loss: 0.3625 - accuracy: 0.8735
Epoch 37/50
715/715 [==============================] - 0s 408us/step - loss: 0.3622 - accuracy: 0.8736
Epoch 38/50
715/715 [==============================] - 0s 406us/step - loss: 0.3622 - accuracy: 0.8736
Epoch 39/50
715/715 [==============================] - 0s 410us/step - loss: 0.3621 - accuracy: 0.8736
Epoch 40/50
715/715 [==============================] - 0s 408us/step - loss: 0.3621 - accuracy: 0.8732
Epoch 41/50
715/715 [==============================] - 0s 411us/step - loss: 0.3620 - accuracy: 0.8733
Epoch 42/50
715/715 [==============================] - 0s 408us/step - loss: 0.3618 - accuracy: 0.8734
Epoch 43/50
715/715 [==============================] - 0s 409us/step - loss: 0.3619 - accuracy: 0.8734
Epoch 44/50
715/715 [==============================] - 0s 411us/step - loss: 0.3616 - accuracy: 0.8734
Epoch 45/50
715/715 [==============================] - 0s 409us/step - loss: 0.3617 - accuracy: 0.8735
Epoch 46/50
715/715 [==============================] - 0s 408us/step - loss: 0.3616 - accuracy: 0.8732
Epoch 47/50
715/715 [==============================] - 0s 412us/step - loss: 0.3616 - accuracy: 0.8735
Epoch 48/50
715/715 [==============================] - 0s 409us/step - loss: 0.3616 - accuracy: 0.8736
Epoch 49/50
715/715 [==============================] - 0s 413us/step - loss: 0.3617 - accuracy: 0.8736
Epoch 50/50
715/715 [==============================] - 0s 408us/step - loss: 0.3616 - accuracy: 0.8737
239/239 - 0s - loss: 0.3688 - accuracy: 0.8724
Loss: 0.36877474188804626, Accuracy: 0.8724409341812134

In [27]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import tensorflow as tf

# Import our input dataset
loans_df = pd.read_csv('loan_status.csv')
loans_df.head()

,Loan_Status,Current_Loan_Amount,Term,Credit_Score,Annual_Income,Years_in_current_job,Home_Ownership,Purpose,Monthly_Debt,Years_of_Credit_History,Months_since_last_delinquent,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,Bankruptcies,Tax_Liens
0,Fully_Paid,99999999,Short_Term,741.0,2231892.0,8_years,Own_Home,Debt_Consolidation,29200.53,14.9,29.0,18,1,297996,750090.0,0.0,0.0
1,Fully_Paid,217646,Short_Term,730.0,1184194.0,<_1_year,Home_Mortgage,Debt_Consolidation,10855.08,19.6,10.0,13,1,122170,272052.0,1.0,0.0
2,Fully_Paid,548746,Short_Term,678.0,2559110.0,2_years,Rent,Debt_Consolidation,18660.28,22.6,33.0,4,0,437171,555038.0,0.0,0.0
3,Fully_Paid,99999999,Short_Term,728.0,714628.0,3_years,Rent,Debt_Consolidation,11851.06,16.0,76.0,16,0,203965,289784.0,0.0,0.0
4,Fully_Paid,99999999,Short_Term,740.0,776188.0,<_1_year,Own_Home,Debt_Consolidation,11578.22,8.5,25.0,6,0,134083,220220.0,0.0,0.0

In [28]:
# Generate our categorical variable list
loans_cat = loans_df.dtypes[loans_df.dtypes == "object"].index.tolist()

# Check the number of unique values in each column
loans_df[loans_cat].nunique()

Loan_Status              2
Term                     2
Years_in_current_job    11
Home_Ownership           4
Purpose                  7
dtype: int64

In [29]:
# Check the unique value counts to see if binning is required
loans_df.Years_in_current_job.value_counts()

10+_years    13149
2_years       3225
3_years       2997
<_1_year      2699
5_years       2487
4_years       2286
1_year        2247
6_years       2109
7_years       2082
8_years       1675
9_years       1467
Name: Years_in_current_job, dtype: int64

In [30]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(loans_df[loans_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(loans_cat)
encode_df.head()

,Loan_Status_Fully_Paid,Loan_Status_Not_Paid,Term_Long_Term,Term_Short_Term,Years_in_current_job_10+_years,Years_in_current_job_1_year,Years_in_current_job_2_years,Years_in_current_job_3_years,Years_in_current_job_4_years,Years_in_current_job_5_years,...,Home_Ownership_Home_Mortgage,Home_Ownership_Own_Home,Home_Ownership_Rent,Purpose_Business_Loan,Purpose_Buy_House,Purpose_Buy_a_Car,Purpose_Debt_Consolidation,Purpose_Home_Improvements,Purpose_Medical_Bills,Purpose_Other
0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [31]:
# Merge one-hot encoded features and drop the originals
loans_df = loans_df.merge(encode_df,left_index=True, right_index=True)
loans_df = loans_df.drop(loans_cat,1)
loans_df.head()

,Current_Loan_Amount,Credit_Score,Annual_Income,Monthly_Debt,Years_of_Credit_History,Months_since_last_delinquent,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,...,Home_Ownership_Home_Mortgage,Home_Ownership_Own_Home,Home_Ownership_Rent,Purpose_Business_Loan,Purpose_Buy_House,Purpose_Buy_a_Car,Purpose_Debt_Consolidation,Purpose_Home_Improvements,Purpose_Medical_Bills,Purpose_Other
0,99999999,741.0,2231892.0,29200.53,14.9,29.0,18,1,297996,750090.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,217646,730.0,1184194.0,10855.08,19.6,10.0,13,1,122170,272052.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,548746,678.0,2559110.0,18660.28,22.6,33.0,4,0,437171,555038.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,99999999,728.0,714628.0,11851.06,16.0,76.0,16,0,203965,289784.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,99999999,740.0,776188.0,11578.22,8.5,25.0,6,0,134083,220220.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [32]:
# Remove loan status target from features data
y = loans_df.Loan_Status_Fully_Paid
X = loans_df.drop(columns=["Loan_Status_Fully_Paid","Loan_Status_Not_Paid"])

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [33]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest predictive accuracy: 0.849

In [34]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  24
hidden_nodes_layer2 = 12

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/50
854/854 [==============================] - 1s 412us/step - loss: 0.4287 - accuracy: 0.8313
Epoch 2/50
854/854 [==============================] - 0s 417us/step - loss: 0.3857 - accuracy: 0.8490
Epoch 3/50
854/854 [==============================] - 0s 415us/step - loss: 0.3820 - accuracy: 0.8492
Epoch 4/50
854/854 [==============================] - 0s 414us/step - loss: 0.3793 - accuracy: 0.8495
Epoch 5/50
854/854 [==============================] - 0s 419us/step - loss: 0.3781 - accuracy: 0.8495
Epoch 6/50
854/854 [==============================] - 0s 413us/step - loss: 0.3773 - accuracy: 0.8494
Epoch 7/50
854/854 [==============================] - 0s 421us/step - loss: 0.3760 - accuracy: 0.8494
Epoch 8/50
854/854 [==============================] - 0s 421us/step - loss: 0.3752 - accuracy: 0.8497
Epoch 9/50
854/854 [==============================] - 0s 419us/step - loss: 0.3745 - accuracy: 0.8497
Epoch 10/50
854/854 [==============================] - 0s 410us/step - loss: 0.3737 - accuracy: 0.8497
Epoch 11/50
854/854 [==============================] - 0s 426us/step - loss: 0.3733 - accuracy: 0.8499
Epoch 12/50
854/854 [==============================] - 0s 424us/step - loss: 0.3729 - accuracy: 0.8496
Epoch 13/50
854/854 [==============================] - 0s 417us/step - loss: 0.3725 - accuracy: 0.8499
Epoch 14/50
854/854 [==============================] - 0s 422us/step - loss: 0.3718 - accuracy: 0.8502
Epoch 15/50
854/854 [==============================] - 0s 434us/step - loss: 0.3711 - accuracy: 0.8498
Epoch 16/50
854/854 [==============================] - 0s 420us/step - loss: 0.3707 - accuracy: 0.8502
Epoch 17/50
854/854 [==============================] - 0s 430us/step - loss: 0.3704 - accuracy: 0.8502
Epoch 18/50
854/854 [==============================] - 0s 430us/step - loss: 0.3696 - accuracy: 0.8504
Epoch 19/50
854/854 [==============================] - 0s 427us/step - loss: 0.3694 - accuracy: 0.8505
Epoch 20/50
854/854 [==============================] - 0s 430us/step - loss: 0.3689 - accuracy: 0.8505
Epoch 21/50
854/854 [==============================] - 0s 420us/step - loss: 0.3681 - accuracy: 0.8506
Epoch 22/50
854/854 [==============================] - 0s 423us/step - loss: 0.3677 - accuracy: 0.8501
Epoch 23/50
854/854 [==============================] - 0s 431us/step - loss: 0.3673 - accuracy: 0.8502
Epoch 24/50
854/854 [==============================] - 0s 424us/step - loss: 0.3669 - accuracy: 0.8506
Epoch 25/50
854/854 [==============================] - 0s 419us/step - loss: 0.3668 - accuracy: 0.8516
Epoch 26/50
854/854 [==============================] - 0s 434us/step - loss: 0.3661 - accuracy: 0.8512
Epoch 27/50
854/854 [==============================] - 0s 420us/step - loss: 0.3658 - accuracy: 0.8509
Epoch 28/50
854/854 [==============================] - 0s 416us/step - loss: 0.3657 - accuracy: 0.8501
Epoch 29/50
854/854 [==============================] - 0s 424us/step - loss: 0.3649 - accuracy: 0.8508
Epoch 30/50
854/854 [==============================] - 0s 422us/step - loss: 0.3649 - accuracy: 0.8507
Epoch 31/50
854/854 [==============================] - 0s 420us/step - loss: 0.3649 - accuracy: 0.8513
Epoch 32/50
854/854 [==============================] - 0s 423us/step - loss: 0.3643 - accuracy: 0.8514
Epoch 33/50
854/854 [==============================] - 0s 425us/step - loss: 0.3640 - accuracy: 0.8516
Epoch 34/50
854/854 [==============================] - 0s 428us/step - loss: 0.3638 - accuracy: 0.8506
Epoch 35/50
854/854 [==============================] - 0s 422us/step - loss: 0.3636 - accuracy: 0.8517
Epoch 36/50
854/854 [==============================] - 0s 415us/step - loss: 0.3630 - accuracy: 0.8513
Epoch 37/50
854/854 [==============================] - 0s 421us/step - loss: 0.3630 - accuracy: 0.8512
Epoch 38/50
854/854 [==============================] - 0s 437us/step - loss: 0.3625 - accuracy: 0.8521
Epoch 39/50
854/854 [==============================] - 0s 421us/step - loss: 0.3630 - accuracy: 0.8521
Epoch 40/50
854/854 [==============================] - 0s 427us/step - loss: 0.3619 - accuracy: 0.8519
Epoch 41/50
854/854 [==============================] - 0s 421us/step - loss: 0.3624 - accuracy: 0.8519
Epoch 42/50
854/854 [==============================] - 0s 428us/step - loss: 0.3622 - accuracy: 0.8514
Epoch 43/50
854/854 [==============================] - 0s 427us/step - loss: 0.3619 - accuracy: 0.8517
Epoch 44/50
854/854 [==============================] - 0s 424us/step - loss: 0.3618 - accuracy: 0.8523
Epoch 45/50
854/854 [==============================] - 0s 424us/step - loss: 0.3614 - accuracy: 0.8514
Epoch 46/50
854/854 [==============================] - 0s 425us/step - loss: 0.3609 - accuracy: 0.8518
Epoch 47/50
854/854 [==============================] - 0s 421us/step - loss: 0.3608 - accuracy: 0.8525
Epoch 48/50
854/854 [==============================] - 0s 419us/step - loss: 0.3612 - accuracy: 0.8524
Epoch 49/50
854/854 [==============================] - 0s 420us/step - loss: 0.3606 - accuracy: 0.8528
Epoch 50/50
854/854 [==============================] - 0s 423us/step - loss: 0.3604 - accuracy: 0.8529
285/285 - 0s - loss: 0.3959 - accuracy: 0.8433
Loss: 0.3959222137928009, Accuracy: 0.8432901501655579